.main-content2 > .wrapper.title > svg, .main-content > .wrapper.title > svg {
    vertical-align: sub;
}

#activity_table > thead > tr > th:first-child,
#activity_table > tbody > tr > td:first-child{ padding-left: 20px; max-width: 300px; width: 300px;}

#activity_table th:nth-child(3),
#activity_table td:nth-child(3) {
  width: 100px;
}



#activity_table th:nth-child(5),
#activity_table td:nth-child(5) { width: 150px;}

#activity_table th:nth-child(2),
#activity_table td:nth-child(2),
#activity_table th:nth-child(4),
#activity_table td:nth-child(4){padding-right: 20px;}


#activity_table td .target_user_name_wrapper {
  display: flex; 
  flex-direction: column;
}

#activity_table td .target_user_name_wrapper .target_user_name{
  font-weight: 500;
  font-size: 16px;
  color: black;
}

#activity_table td .target_user_name_wrapper .target_user_email{
  font-size: 13px;
  font-weight: 500;
  color: #9A9A9A;
}

#activity_table td .group_title{
  font-size: 16px;
  font-weight: 600;
  color: #1B2C1A;
  line-break: anywhere;
}

#activity_table td .admin_user_name{
  font-size: 14px;
  font-weight: 500;
  color: #9A9A9A;
}

.role-tag {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 22px;
    width: 80px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #1B2C1A;
}

.role-tag.reviewer {
  background-color: #DCEEFF;
  border: 2px solid #76ABFF;
}
.role-tag.curator {
  background-color: #FFFAD6;
  border: 2px solid #EFE054;
}

#activity_table td .activity{
  font-size: 14px;
  font-weight: 500;
  color: #9A9A9A;
}

.user_role_to.empty{margin-left: 35%;}

.wrapper.filter{max-width: 500px;}


