/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');*/

body {
  /*font-family: 'Noto Sans JP', sans-serif;*/
  overflow-y: scroll;
  /* overflow-y: hidden; */
}

#vgp-loader-whole {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url(../../images/pcf/loader.gif) center no-repeat #fff;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.tooltip .tooltip-inner {
  background-color: white;
  color: black;
  white-space: nowrap;
  box-shadow: 0 0 2px gray;
  opacity:  1.0;
  max-width: 400px !important;
}

.tooltip.show {
  padding: 5px;
  opacity: 1!important;
  z-index: 10009;
}

.tooltip.in {
  opacity: 1 !important;
  filter: alpha(opacity=100);
}

.vgp-navbar {
  min-height: 75px;
  height: 75px;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
  white-space: nowrap;
  background-color:#E8E8E8;
  color: #113902;
}

.vgp-navbar .vgp-navbar-sub {
  height: 100%;
  white-space: nowrap;
}

.vgp-navbar .vgp-navbar-sub .vgp-navbar-brand {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  white-space: nowrap;
}

.vgp-navbar .vgp-navbar-sub .vgp-navbar-subbrand {
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
}

.vgp-navbar .vgp-navbar-sub span.material-symbols-outlined {
  display: inline-block;
  margin-top: 16px;
}


.vgp-main { 
  margin: 80px auto 50px auto;
  min-width: 800px;
  max-width: 80%;
  padding: 0;
}

.vgp-main .vgp-title .vgp-title-sub {
  height: 100%;
}

.vgp-main .vgp-title .vgp-title-sub .vgp-title-sub-right-date {
  margin-right: 1rem;
  font-size: 1em;
  font-weight: 500;
}

#vgp-download-all-btn {
  border: solid 1px #258800;
  border-radius: 5px;
  color: #258800;
  background: #fff;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}
#vgp-download-all-btn:hover {
  color: #fff;
  background-color: #258800;
}
#vgp-download-all-btn span{margin-left: 5px;}

.vgp-main .vgp-search { 
  height: 60px; 
  margin-top: 10px;
  width: 100%;
  background-color: #FAFAFA;
}

.vgp-main .vgp-search .vgp-search-sub { 
  height: 100%; 
  border: solid 1px #D5D5D5;
  border-radius: 5px;
  padding: 0;
}

.vgp-main .vgp-search .vgp-search-sub .vgp-target-wrapper .btn-vgp-target {
  height: 100%; 
  width:  130px;
  font-size: 20px;
  text-align: left;
  padding-left: 18px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQgOGgyNEwxNiAyNnoiIGZpbGw9IiMyNTg4MDAiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==');
  background-position: calc(100% - .8rem), 100% 0;
  background-size:  1.1rem 1.1rem;
  background-repeat: no-repeat;

}

.vgp-main .vgp-search .vgp-search-sub .vgp-target-wrapper.dropdown .dropdown-menu{ min-width:130px !important;}


.dropdown button:focus{ box-shadow:none;}

.dropdown .dropdown-toggle::after{ display: none;}

.dropdown .dropdown-menu{ padding: 0;}

.dropdown .dropdown-menu .dropdown-item{font-size: 20px;padding-left: 18px;}

.dropdown .dropdown-menu .dropdown-item:hover{color: #fff; background: #258800;}


.vgp-main .vgp-search .vgp-search-sub .vgp-searchicon-wrapper {
  height:44px;
  width:48px;
  margin-top:8px;
  margin-bottom:2px;
  padding-left:15px;
  padding-top:11px;
  border-left: solid 1px #CBCBCB;
}

.vgp-main .vgp-search .vgp-search-sub .vgp-searchicon-wrapper .vgp-searchicon {
  height: 26px;
  width: 26px;
  color:#BABBBB;
}

.vgp-main .vgp-search .vgp-search-sub .vgp-filter-wrapper {
  width:100%;
  height:100%;
  padding:0;
}

#vgp-filter {
  outline: none;
  border:0;
  border-radius: 5px;
  display:inline-block;
  width:100%;
  height:100%;
  font-size: 20px;
  background-color: #FAFAFA;
}

#vgp-filter::placeholder {
  color: #CBCBCB;
}

.vgp-title2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#vgp-searched-panels-num {color: #258800; margin-right: 10px;}

.vgp-title2 .vgp-title-sub {
  display:flex;
  align-items: center;
}

.vgp-title2 .vgp-title-sub .vgp-size-wrapper{
  display:inline-block;
}

#btn-vgp-size {
  border: 1px solid #BEBEBE;
  height: 100%;
  width:  90px;
  margin-left: 10px;
  font-size: 20px;
  text-align: left;
  padding-left: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQgOGgyNEwxNiAyNnoiIGZpbGw9IiMyNTg4MDAiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==');
  background-position: calc(100% - .7rem), 100% 0;
  background-size:  1.1rem 1.1rem;
  background-repeat: no-repeat;
}

.vgp-size-wrapper .dropdown-menu{ min-width:90px !important;}

#vgp-list-root-panel{
  width: 100%;
  min-height: 400px;
  margin-top : 10px;
}

#vgp-loader {
  display: none;
  width: 100%;
  height:400px;
  background-color:#fff;
  opacity:1.0;
}

#vgp-loader .vgp-loader-content {
  width:100%;
  padding-left: calc(50% - 65px);
  padding-top: 185px;
}

#vgp-loader .vgp-loader-content .vgp-loader-gif {
  width:  30px;
  height: 30px;
  padding: 0;
  background: url(../../images/vgp/vgp-loader.gif) center no-repeat #fff;
}

#vgp-loader .vgp-loader-content .vgp-loader-text {width:100px;white-space: nowrap;}

#vgp-loader .vgp-loader-content .vgp-loader-text:empty::before {
  font-size: 22px;
  content: " Loading ...";
}


#vgp-content {
  width: 100%;
  min-height:400px;
}

#vgp-content-title {
  width: 100%;
  height: 50px;
  background: #E9F0EC;
}

#vgp-content-title div {
  white-space: nowrap;
}

#vgp-content-title div span {white-space: nowrap;}

#vgp-content-title div span.material-symbols-outlined { margin-right: 6px;}

#vgp-content-title div span.vgp-sortable {cursor:pointer;user-select: none;}
#vgp-content-title div span.vgp-sortable::after{content: "\02191";padding-left:5px;font-size: 1.3rem;color:#E9F0EC;}
#vgp-content-title div span.vgp-sortable.asc::after {content: "\02191";color:black;}
#vgp-content-title div span.vgp-sortable.desc::after {content: "\02193";color:black;}

.vgp-col-genenum {
  width: 150px; 
  min-width: 150px; 
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}
.vgp-col-genenum-title {
	border-left: 3px solid #e1dcdc78;
	display: flex;
	margin-left: 0 !important;
    margin-right: 0 !important;
	align-items: center !important;
}

#vgp-content-list {	width: 100%;}

#vgp-content-empty {padding-left: 15px;}


.vgp-panel-row {
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
	border-bottom:1px solid #e1dcdc78;
}

.vgp-panel-row .vgp-button-panel .vgp-button-wrap .vgp-round-btn{
  border: solid 1px #258800;
  border-radius: 50%;
  margin: 5px 15px 0px 15px;
  width:  40px;
  height: 40px;
  color:     #258800;
  background-color: #FFF;
  font-size: 20px;
  position: relative;
}

.vgp-panel-row .vgp-button-panel .vgp-button-wrap .vgp-round-btn:hover{
  background-color: #258800;
  color: #FFF;
}

.vgp-panel-row .vgp-button-panel .vgp-button-wrap .vgp-round-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vgp-panel-row .vgp-col-panel .vgp-name-wrapper {
  width: 100%;
}

.vgp-panel-row .vgp-col-panel .vgp-name-wrapper .vgp-name {
  font-size: 23px;
  font-weight: 600;
  display:inline-flex;
  color: black;
}

.vgp-panel-row .vgp-col-panel .vgp-name-wrapper .vgp-name2 {
  font-weight: 600;
  font-size: 19px;
}

.vgp-panel-row .vgp-col-panel .vgp-def-wrapper p {
  margin:0;
  width: 100%;
  font-size: 16px;
}
.vgp-panel-row .vgp-col-panel .vgp-def-wrapper p a{
  color: #258800;
}

.vgp-panel-row .list-show_wrapper {
  width:100%;
  margin-top:10px;
}

.vgp-panel-row .list-show_wrapper .list-show {display: flex;}

.vgp-panel-row .list-show_wrapper .list-show a {
  display: inline-flex;
  margin-right: 0.4rem;
  cursor: pointer;
  line-height: 1.15;
  color: inherit;
  font-size: 16px;
  white-space: nowrap;
}

.vgp-panel-row .list-show_wrapper .list-show a.v_line_left {
  padding-right: 0.8rem;
  margin-left: 0.2rem;
  border-right: solid 1px #CBCBCB;;
}

.vgp-panel-row .list-show_wrapper .list-show  a:hover {
  color: inherit;
  text-decoration: none;
}

.vgp-panel-row .list-show_wrapper .list-show a span {
  display: flex;
  color: #00714E;
}
.vgp-panel-row .list-show_wrapper .list-show a span:before {
  font-feature-settings: 'liga';
  font-family: 'Material Icons';
  content: '\e146';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #00714E;
}

.vgp-panel-row .list-show_wrapper .list-show a.vgp-active span {color: #DB7600;}

.vgp-panel-row .list-show_wrapper .list-show a.vgp-active span:before {
  content: '\e909';
  color: #DB7600;
}

.vgp-panel-row .list-show_wrapper .list-show-panel {
  margin-top: 15px;
  display: none;
  width:   100%;
  min-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.status-empty {
  background-color: #fff;
  background: url(../../images/vgp/loader-32px.gif) center no-repeat #fff;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active {
  display: block;
  border: 1px solid #ddd;
  font-weight: normal;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active label {
  margin-top: 1.0rem;
  margin-bottom:0.2rem;
  color: #256D80;
  font-weight: 400;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 3px 1px #EEEEEE;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > thead > tr > th:first-child {
    padding-left: 20px;
    padding-right: 10px;
    width: 50px;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > thead > tr > th {
    background-color: #256D80;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    white-space: nowrap;
}


.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 12px;
    background-color: #ffffff;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr:nth-child(odd) {
    background-color: rgba(255,255,255,0);
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr:last-of-type > td {
    border-bottom: none;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td:first-child {
    padding-left: 20px;
    width: 50px;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td {
    border-bottom: 1px solid #EEEEEE;
    border-collapse: collapse;
    padding: 10px;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td > span {
  cursor: pointer;
  color:  #256D80;
  font-size: 22px;
  vertical-align: text-top;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td > button {
  border-radius: 5px;
  padding: 3px;
  color:   #256D80;
  border:  1.5px solid #256D80;
  white-space: nowrap;
  font-size: 1rem;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td > button:hover {
  color:   #fff;
  background-color: #256D80;
}

.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td > button[aria-expanded="true"] {
  color:   #fff;
  background-color: #256D80;
}


.vgp-panel-row .list-show_wrapper .list-show-panel.vgp-active table > tbody > tr > td > a {
  color: #256D80;
  text-decoration: none;
  cursor: pointer;
}


.vgp-panel-row .list-show_wrapper .list-show a.vgp-link {
  margin-left: 0.3em;
  text-decoration: underline;
  color: #00714E;
}



.vgp-col-genenum .vgp-download-btn {}




.vgp-pagenum-row {
  display: flex;
  margin: 15px 0 0 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.vgp-pagenum-row div {
  width:         100%;
  text-align:    center;
}


.list-footer {
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: flex;
  padding: 1em 15px;
}

.list-footer .list-results-wrap {
  /*color: #BABBBB;*/
  margin: auto 0;
}

.list-footer .list-results-wrap .list-results {
  color: #258800;
}


.list-footer button {
  display: inline-flex;
  margin: 0 auto;
  background: white;
  border:0;
}

.list-footer button span {
  width: 2.5em;
  height: 2.5em;
  border-radius: 20px;
  background-color: #258800;
  padding-top: 7px;
}

.list-footer button span i {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}

.list-footer button p {
  font-weight: 500;
  margin: auto 0;
  padding-left: 0.3em;
}

.list-footer a {
  text-decoration: underline;
  margin: 0 0 0 auto;
  margin: auto 0;
  color: #555555;
}

.list-tag {
  border-radius: 5px;
  padding: 3px;
  margin-right: 0.3em;
  /*margin-bottom: 0.3em;*/
  cursor: pointer;
  -webkit-transition: background 0.2s,color 0.1s;
  transition: background 0.2s,color 0.1s;
  border: 1.5px solid #067ABC;
}

.list-tag[aria-expanded="false"] {
  color: #067ABC;
}

.list-tag:hover {
  color: #fff;
  background-color: #067ABC;
  transition: 0.5s;
}

.list-tag[aria-expanded="true"] {
  color: #fff;
  background-color: #067ABC;
  transition: 0.5s;
}


.list-tag-vgp-synonym {
  background: white;
  margin-left: 10px;
  margin-top: 10px;  height: 20px;
  color: #00714E;
  font-size: 11px;  font-weight: 500;
  border:1.5px solid #00714E;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background 0.2s,color 0.1s;
  transition: background 0.2s,color 0.1s;
}

.list-tag-vgp-synonym[aria-expanded="false"] {
  color: #00714E;
}

.list-tag-vgp-synonym:hover {
  color: #fff;
  background-color: #00714E;
  transition: 0.5s;
}

.list-tag-vgp-synonym[aria-expanded="true"] {
  color: #fff;
  background-color: #00714E;
  transition: 0.5s;
}


#btn_back_to_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #394466;
  color: #fff;
}
#btn_back_to_top span {
  background-color: #394466;
  color: #fff;
  width: 100%;
  transform: rotateX(90deg);
}


#btn_back_to_top img{
  width: 66px !important;
}

