UID=
GID=
CONTAINER_NAME_APP=pubcasefinder-app
IMAGE_NAME_APP=pubcasefinder-app
APP_PORT=8000
SPARQLIST_BASE_URL=https://pubcasefinder.dbcls.jp/
CONTAINER_NAME_MYSQL=pubcasefinder-mysql
MYSQL_PORT=13306
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATA_DIR=
NGINX_PORT=8888
NETWORK_NAME=pubcasefinder
HANDSONTABLE_LICENSE_KEY=
GOOGLE_DISCOVERY_URL="https://accounts.google.com/.well-known/openid-configuration"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_FORM_SECRET_KEY="58b05930-bbaf-45f9-b96c-05df7b53f23e"
GOOGLE_FORM_URL_PCF=
GOOGLE_FORM_URL_PSN=
MAIL_SMTP_SERVER="smtp.gmail.com"
MAIL_SMTP_PORT=587
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=
MAIL_USERNAME=
MAIL_PASSWORD=
