/* 子メニュー - .sub-menu */
.tippy-box[data-theme~='pcf_menu'] {
  background-color: #394466;
  padding: 0;
}
.tippy-box[data-theme~='pcf_menu'] .tippy-content {
  padding: 0;
}

.tippy-box .tippy-content .copy-content {
  width:100%;
  margin-top:10px;
  overflow-x:hidden;
  overflow-y:scroll;
  height:150px;
  border: dashed 1px #AEB0B5;
}
.tippy-box .tippy-content .copy-content:focus{
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    top: -8px;
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom: -8px;
}

.tippy-box[data-theme~='pcf-popup'] {
	background-color:white;
	color: black;
	/*width:     400px;*/
	/*max-width: 850px;*/
	box-shadow: 0 0 8px gray;
	padding: 8px 16px 8px 16px;
}

.tippy-box[data-theme~='pcf-popup'] table {
  width: 100%;
  font-size: 15px;
}

.tippy-box[data-theme~='pcf-popup'] table tr {
  border-bottom: solid 1px #ddd;;
}

.tippy-box[data-theme~='pcf-popup'] table tr:last-child {
  border-bottom: 0;
}

.tippy-box[data-theme~='pcf-popup'] table tr th {
  padding-right: 1.0em;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight:  400
}

.tippy-box[data-theme~='pcf-popup'] table tr th.pcf-popup-phenotype {
	color: #067ABC;
}

.tippy-box[data-theme~='pcf-popup'] table tr th.pcf-popup-phenotype_inlist {
    color: #067ABC;
}

.tippy-box[data-theme~='pcf-popup'] table tr th.pcf-popup-inheritance {
	color: #2F9145;
}

.tippy-box[data-theme~='pcf-popup'] table tr th.pcf-popup-gene {
	color: #777777;
}

.tippy-box[data-theme~='pcf-popup'] table tr th.pcf-popup-disease {
	color: #d9534f;
}

.tippy-box[data-theme~='pcf-popup'] table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}

.tippy-box[data-theme~='pcf-popup'] table tr td a {
    color: #0431B4;
    margin-right: 0.7em;
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-menu {
  border:0;
  box-shadow: 0 0 8px gray;
}

.dropdown-menu-wrapper {
  display: none;
}

.tippy-box[data-animation=scale][data-placement^=top]{transform-origin:bottom}
.tippy-box[data-animation=scale][data-placement^=bottom]{transform-origin:top}
.tippy-box[data-animation=scale][data-placement^=left]{transform-origin:right}
.tippy-box[data-animation=scale][data-placement^=right]{transform-origin:left}
.tippy-box[data-animation=scale][data-state=hidden]{transform:scale(.5);opacity:0}

.tippy-box[data-animation=scale-extreme][data-placement^=top]{transform-origin:bottom}
.tippy-box[data-animation=scale-extreme][data-placement^=bottom]{transform-origin:top}
.tippy-box[data-animation=scale-extreme][data-placement^=left]{transform-origin:right}
.tippy-box[data-animation=scale-extreme][data-placement^=right]{transform-origin:left}
.tippy-box[data-animation=scale-extreme][data-state=hidden]{transform:scale(0);opacity:.25}
