<!doctype html>

{% if r_lang == "ja" %}
<html lang="ja">
{% else %}
<html lang="en">
{% endif %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ztree/ztree_v3@3.5.48/css/zTreeStyle/zTreeStyle.min.css" type="text/css">
  <style>
    .treeview-decendant-num{color:#787878;}
    .ztree li a.curSelectedNode {
        background-color: #B2B9C2 !important;
        border-color: #B2B9C2 !important;
    }
  </style>
</head>
<body style="padding: 50px;">

  <label style="margin-bottom: 20px;">Treeview sample page</label>

  <div style="background-color: #dadede;">
    <ul id="treeview" class="ztree"></ul>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@ztree/ztree_v3@3.5.48/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@ztree/ztree_v3@3.5.48/js/jquery.ztree.excheck.min.js"></script>
<script>

const URL_GET_PANEL_UPSTREAM_HIERARCHY = '/common_nanbyo_get_panel_hierarchy';
const URL_GET_PANEL_DESCENDANT = '/common_nanbyo_get_panel_descendant';
const URL_NEW_PAGE = '/common_nanbyo_treeview_sample';

var lang = "{{ r_lang }}";

var nando_id = "{{ r_nando_id }}";

const SKIP_LIST = [
	'NANDO:0000001'
];

function _sort_treeview_data_by_nando_id(data){
    data.sort((a, b) => a.nando_id.localeCompare(b.nando_id));

    data.forEach(node => {
        if (node.children && node.children.length > 0) {
            _sort_treeview_data_by_nando_id(node.children);
        }
    });
}

function _create_treeview_data(json_data){
    let ret_arr = [];
    for (let key in json_data){
        let t = key.split('--');
        let obj = {};
        obj['isFirstTimeLoad'] = true;
        obj['nando_id']        = t[0];
        obj['num_child']       = t[1];
        obj['name']            = t[0];
        obj['lang']            = lang;
        if(t.length > 2 && t[2].length > 0 ){
            obj['name'] = t[2];
        }
        obj['displayName'] = obj['name'] + " <font class=\"treeview-decendant-num\">("+obj['num_child']+")</font>";
        if(t[1] == 0){
            obj['displayName'] = obj['name'];
            obj['isParent'] = false;
        }else{
            obj['isParent'] = true;
        }

        if( typeof json_data[key] === 'object' ){
            obj['open'] = true;
            obj['children'] = _create_treeview_data(json_data[key]);
        }
        ret_arr.push(obj);
    }
    return ret_arr;
}

function _onClick_handler(nando_id){
    let url = `${URL_NEW_PAGE}?nando_id=${nando_id}&lang=${lang}`;
	window.location.href = url;
    //const link = document.createElement("a");
    //link.href = url;
    //link.target = "_blank";
    //link.click();
    //link.remove();
}

function _highlight_upstream_treeview_startNode(zTree, nodes, nando_id) {
	for (var i = 0; i < nodes.length; i++) {

		if (nodes[i].nando_id === nando_id) {
			zTree.selectNode(nodes[i], true, true);
		}

		if (nodes[i].isParent && nodes[i].children) {
			_highlight_upstream_treeview_startNode(zTree, nodes[i].children, nando_id);
		}
	}
}

var zTreeObj;
function init_ui_upstream_trace(nando_id, upstream_trace_data){
	let treeview_data = _create_treeview_data(upstream_trace_data);
	_sort_treeview_data_by_nando_id(treeview_data);

	let setting = {
		view: {dblClickExpand: false, showIcon: false, nameIsHTML: true},
		async:{enable: true, type: "get", url: URL_GET_PANEL_DESCENDANT, autoParam: ["nando_id", "lang"]},
		callback: {
			beforeClick: function (treeId, treeNode, clickFlag) {
				if (treeNode && event.target.className.indexOf("switch") > -1) {
					if (treeNode.isParent){
						if(!treeNode.open && treeNode.isFirstTimeLoad){
							zTreeObj.reAsyncChildNodes(treeNode, "refresh");
							treeNode.isFirstTimeLoad = false;
						}
						zTreeObj.expandNode(treeNode);
					}
					return false;
				}
				return true;
			},
			onClick: function (event, treeId, treeNode) {
				if(!SKIP_LIST.includes(treeNode.nando_id)){
					setTimeout(function () {_onClick_handler(treeNode.nando_id);}, 10);
				}
  			},
			beforeExpand: function (treeId, treeNode) {
				if (treeNode.isFirstTimeLoad) {
					zTreeObj.removeChildNodes(treeNode);
					treeNode.isParent = true;
					zTreeObj.reAsyncChildNodes(treeNode, "refresh");
				}
				return true;
			},
			onExpand: function (treeId, treeNode) {
				treeNode.isFirstTimeLoad = false;
			}
		},
		data: {
			key: {name: "displayName", title:"nando_id"}
		}
	};

	zTreeObj = $.fn.zTree.init($("#treeview"), setting, treeview_data);

	let nodes = zTreeObj.getNodes();
    _highlight_upstream_treeview_startNode(zTreeObj, nodes, nando_id);
}

$(document).ready(function(){

	if(lang !== "ja") lang = "en";

	// set example nando id if no input
	if(!(nando_id)) nando_id = "NANDO:1200477";

	let url_str = `${URL_GET_PANEL_UPSTREAM_HIERARCHY}?nando_id=${nando_id}&lang=${lang}`;

	$.ajax({url: url_str, type: 'GET', async: true, dataType: 'text'})
		.done(function (data, textStatus, jqXHR) {
			let json_data = JSON.parse(data);
			init_ui_upstream_trace(nando_id, json_data);
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			alert('ajax failed \nURL:'+ url_str);
		})
		.always(function () {
        	//
		});
});

</script>
</html>
