<footer id="footer">
    <div class="footer__common">
        <div class="footer__wrapper">
            <div class="footer__wrapper__contents">
                <div class="footer__info">
                    <div class="footer__organism">
                        <img src="{{ dbcls_root_url }}/img/logo_dbcls.svg" alt="" class="footer__logo">
                        <div class='footer__organism-text'>
                            <p class="footer__organism-main">Database Center for Life Science</p>
                            <p class="footer__organism-sub">Joint Support-Center for Data Science Research</p>
                            <p class="footer__organism-sub">Research Organization of Information and Systems</p>
                        </div>
                    </div>
                    <div class="footer__address">
                        <h2 class="footer-title">Address</h2>
                        <ul class="address__list">
                            <li>
                                <h2 class="footer-title">Kashiwa branch</h2>
                                <p>Univ. of Tokyo Kashiwanoha-campus Station Satellite 6F</p>
                                <p>178-4-4 Wakashiba, Kashiwa, Chiba 277-0871, JAPAN</p>
                                <p>TEL +81-4-7135-5508</p>
                                <p>FAX +81-4-7135-5534</p>
                            </li>
                            <li>
                                <h2 class="footer-title">Mishima branch</h2>
                                <p>Laboratory Building W412,
                                    <br>National Institute of Genetics
                                </p>
                                <p>Yata 1111, Mishima, Shizuoka 411-8540, JAPAN</p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__links en">
                        <h2 class="footer-title">Links</h2>
                        <ul class="links__wrapper">
                            <li class="individual_link">
                                <a href="http://lifesciencedb.jp/?lng=en"
                                    title="portal site for the Integrated Database Project funded by the MEXT of Japan."
                                    target="_blank">LSDB Home Page</a>
                            </li>
                            <li class="individual_link">
                                <a href="https://youtube.com/togotv/live" title="TogoTV channel on YouTubeLive"
                                    target="_blank">DBCLS on
                                    YouTubeLive</a>
                            </li>
                            <li class="individual_link">
                                <a href="https://ds.rois.ac.jp/"
                                    title="Joint Support-Center for Data Science Research homepage"
                                    target="_blank">Joint Support-Center for Data Science Research</a>
                            </li>
                            <li class="individual_link">
                                <a href="http://www.rois.ac.jp/en/" title="ROIS homepage" target="_blank">Research
                                    Organization of
                                    Information and Systems</a>
                            </li>
                            <li class="individual_link">
                                <a href="http://www.mext.go.jp/en/" title="MEXT homepage" target="_blank">Ministry of
                                    Education,
                                    Culture, Sports, Science and Technology</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__partners">
            <!--h2 class="footer-title">Partners</h2-->
            <ul class="footer__logo-wrapper">
                <li>
                    <a href="https://jbioinfo.jp/" target="_blank">
                        <img class="logo__jbi" src="{{ dbcls_root_url }}/img/jbi-3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.ddbj.nig.ac.jp/index.html" target="_blank">
                        <img class="logo__ddbj" src="{{ dbcls_root_url }}/img/ddbj.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://biosciencedbc.jp/" target="_blank">
                        <img class="logo__nbdc" src="{{ dbcls_root_url }}/img/nbdc.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://pdbj.org/" target="_blank">
                        <img class="logo__pdbj" src="{{ dbcls_root_url }}/img/pdbj.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__lisence">
            <p> &copy; 2018 DBCLS, Licensed under <a href="https://creativecommons.org/licenses/by/4.0/deed.ja"
                    target="_blank">Creative Commons Attribution 4.0 International license (CC-BY 4.0)</a></p>
        </div>
    </div>
</footer>