<!DOCTYPE html>
{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% elif get_locale() == "ko" or get_locale() == "ko_KR" %}
<html lang="ko">
{% elif get_locale() == "zh" or get_locale() == "zh_CN" %}
<html lang="zh">
{% elif get_locale() == "zhcht" %}
<html lang="zhcht">
{% else %}
<html lang="en">
{% endif %}
<!--json test-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaseSharing : PubCaseFinder</title>
    <!--css-->
    <!-- start bits-->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel="stylesheet" href="/static/bootstrap-4.6.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/record/css/phenotype/tippy.css">
    <link rel="stylesheet" href="/static/record/css/phenotype/search-box-form.css">
    <link rel="stylesheet" href="/static/record/css/phenotype/text-input.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/record/css/phenotype/magnific-popup.css">
    <link rel="stylesheet" href="/static/record/css/phenotype/token-input-facebook.css">
    <link rel="stylesheet" href="/static/record/css/phenotype/popup-hierarchy-hpo.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-extreme.css" />
    <link rel="stylesheet" href="/static/record/css/phenotype/modal_phenotype.css">
    <!-- end bits-->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel='stylesheet' href="/static/css/pcf/branc.css">
    <link rel='stylesheet' href="/static/css/pcf/branc-ie7.css">
    <link rel='stylesheet' href="/static/css/pcf/branc-ie7-codes.css">
    <link rel='stylesheet' href="/static/css/pcf/branc-embedded.css">
    <link rel='stylesheet' href="/static/record/css/branc.css">
    <link rel='stylesheet' href="/static/record/css/branc-ie7.css">
    <link rel='stylesheet' href="/static/record/css/branc-ie7-codes.css">
    <link rel='stylesheet' href="/static/record/css/branc-embedded.css">
    <link rel='stylesheet' href="/pubcasefinder_tools/smart_box/style.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/pedigreejs/pedigreejs.v3.0.0-rc1.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/static/css/pcf/remodal.css" rel="stylesheet">
    <link href="/static/css/pcf/remodal-default-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/record/images/case-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/record/images/case-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/record/images/case-favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/record/images/case-favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/record/images/case-favicon/safari-pinned-tab.svg" color="#fc5d13">
    <meta name="msapplication-TileColor" content="#fc5d13">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@14.6.1/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/handsontable@14.6.1/dist/handsontable.full.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/yamljs@0.3.0/dist/yaml.min.js"></script>
    <link rel="stylesheet" href="/static/css/pcf/style-togo.css">
    <link rel="stylesheet" href="/static/record/css/record.css">
    <link rel="stylesheet" href="/static/record/css/record_re.css">
    <link rel="stylesheet" href="/static/record/css/match_making.css">
    <link rel="stylesheet" href="/static/css/common-nav.css">
    <link rel="stylesheet" href="/static/css/common-nav-auth.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>

<body onbeforeunload="return beforeLoad()">
    <!-- <body> -->
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">PubCaseFinder</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a class="sidebar-patients sidebar-selected" onclick="toggleTableChart('table')">
                    <div class="sidebar-icon sidebar-patient"></div>
                    <span class="links_name">Cases</span>
                </a>
                <!--<span class="tooltip">Patients</span>-->
            </li>
            <li>
                <a class="sidebar-analytics" onclick="toggleTableChart('chart')">
                    <div class="sidebar-icon sidebar-stats"></div>
                    <span class="links_name">Stats</span>
                </a>
                <!--<span class="tooltip">Analytics</span>-->
            </li>
            <li>
            <li class="">
                <a onclick="document.getElementById('import_btn').click()">
                    <div class="sidebar-icon sidebar-open"></div>
                    <span class="text nav-text links_name">File open</span>
                    <input type="file" id="import_btn" accept=".json,application/json,.yml,.yaml" onchange="importFile(event)">
                </a>
                <!--<span class="tooltip">File open</span>-->
            </li>
            <li id="menu-save">
                <a>
                    <div class="sidebar-icon sidebar-save"></div>
                    <span class="links_name">File save
                    </span>
                </a>
                <div class="save-panel">
                    <div class="save-format">
                        <p>Format :</p>
                        <select name="file" id="dl-select">
                            <option value="json">json</option>
                            <option value="tsv">tsv</option>
                        </select>
                    </div>
                    <button id="dl_table_button" onclick="getExportData(false)">Save</button>
                </div>
                <div class="popup-bg-cover" style="display: none;"></div>
                <!-- <div class="popup-bg-cover" style="display: none;"></div> -->
            </li>
            <li>
                <a class="sidebar-filebond" onclick="document.getElementById('merge_btn').click()">
                    <div class="sidebar-icon sidebar-bond"></div>
                    <span class="links_name">File merge</span>
                    <input type="file" id="merge_btn" accept=".json,application/json,.yml,.yaml" onchange="importFile(event)">
                </a>
                <!--<span class="tooltip">Analytics</span>-->
            </li>
            <!--<li class="contact">
                <a >
                    <i class="material-symbols-outlined">
                        mail
                    </i>
                    <span class="links_name">Contact</span>
                </a>
                <span class="tooltip">Contact</span>
            </li>-->
        </ul>
    </div>
    <section class="home-section">
        {% with service="casesharing", show_info=True, show_login=True %}
        {% include "common_header.html" %}
        {% endwith %}
        <main id="content-patients">
            <div id="home-menu">
                <div class="title">
                    <i class="person_icon">
                        <div class="list-icon list-case"></div>
                    </i>
                    <span class="text nav-text link_name">MY CASES :</span>
                    <h1 id="row_count">0</h1>
                </div>
                <div class="right-menu">
                    <div class="list-icon list-undo disabled-button" id="hot-undo"></div>
                    <div class="list-icon list-redo disabled-button" id="hot-redo"></div>
                    <div class="list-icon list-reset" id="reset" onclick="pageReload()"></div>
                    <div class="search_wrap">
                        <!-- <span class="material-symbols-outlined">
                            manage_search
                        </span> -->
                        <div class="list-icon list-search"></div>
                        <input type="search" placeholder="一覧表を検索" id="search_input" autocomplete="off">
                        <span id="search-result-count"></span>
                    </div>
                    <div id="table_menu">
                        <span onclick="addColumn()" id="add-column">
                            <!-- <i class="material-symbols-outlined">
                                view_week</i> -->
                            <div class="list-icon list-column"></div>
                            <span>項目追加</span>
                        </span>
                        <span onclick="addRow()" id="add-row">
                            <!-- <i class="material-symbols-outlined">
                                table_rows</i> -->
                            <div class="list-icon list-row"></div>
                            <span>症例追加</span>
                        </span>
                        <!-- <li class="modal_open karte-btn karte-add" data-target="modal-karte" rel="noopener noreferrer">
                            <div class="list-icon list-edit-white"></div>
                            <span>New</span>
                        </li> -->
                    </div>
                </div>
            </div>
            <div id="fixed-menu">
                <div class="modal">
                    <div class="modal_content">
                        <div class="button_wrap">
                            <input id="add_column_input" type="text" placeholder="新規項目">
                            <div class="add"><i class="material-symbols-outlined">
                                    playlist_add
                                </i>作成</div>
                        </div>
                        <div class="modal_container" id="modal_container">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div id="myGrid" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
        </main>

        <main id="charts-patients">
            <div id="home-menu" class="home-menu-chart">
                <div class="title">
                    <i class="bxt icon material-icons-outlined person_icon">
                        pie_chart
                    </i>
                    <span class="text nav-text link_name">MY CHART </span>
                </div>
                <div class="toggle-charts">
                    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                    表示/非表示
                    {% elif get_locale() == "ko" or get_locale() == "ko_KR" %}
                    표시 설정
                    {% else %}
                    Display settings
                    {% endif %}
                    <div class="toggle-charts-balloon hide"></div>
                </div>
            </div>
            <div class="charts-wrapper">
                <div class="chart-container fr-1 chart-container-case-count" data-type="case-count">
                    <div class="chart-count-contents" id="chart-case-count"></div>
                </div>
                <div class="chart-container fr-1 chart-container-family-count" data-type="family-count">
                    <div class="chart-count-contents" id="chart-family-count"></div>
                </div>
                <div class="chart-container fr-1 chart-container-group-count" data-type="group-count">
                    <div class="chart-count-contents" id="chart-group-count"></div>
                </div>
                <div class="chart-container fr-1 chart-container-sex" data-type="sex">
                    <div id="chart-container-sex-title" class="chart-container-sex-title"></div>
                    <div class="pie-chart-sex-wrapper">
                        <canvas class="chart pie-chart" id="pie-chart-sex"></canvas>
                    </div>
                </div>
                <div class="chart-container fr-2 chart-container-age" data-type="age">
                    <canvas class="chart pie-chart" id="pie-chart-age"></canvas>
                </div>
                <div class="chart-container fr-2 chart-container-group" data-type="group">
                    <canvas class="chart bar-chart" id="bar-chart-group"></canvas>
                </div>
                <div class="chart-container chart-container-sympton" data-type="sympton">
                    <div class="chart-container-sympton-header">
                        <div id="chart-container-sympton-title" class="chart-container-sympton-title"></div>
                        <div class="chart-container-sympton-select-wrapper">
                            <select name="" id="diagnosis-list-select" class="chart-container-sympton-select"></select>
                        </div>
                        <div class="chart-container-sympton-color-legend"></div>
                    </div>
                    <canvas class="chart bar-chart chart-container-sympton-canvas" id="bar-chart-sympton"></canvas>
                    <div class="chart-container-sympton-no-data">No Data</div>
                </div>
            </div>
        </main>
    </section>
    <div id="modal-karte" class="modal_box modal-karte">
        <!--left-->
        <div class="resize-handle"></div>
        <!--<div id="modal-karte-button-sub">
            <button class="modal-phenopackets"><img src="/static/images/PhenoPackets_Logo.png">
                <p>Phenopackets
                    download</p>
                <i class="material-symbols-outlined">
                    downloading
                </i>
            </button>
            <button class="modal-copy"><i class="material-symbols-outlined">
                    file_copy
                </i>
                <p>Data copy</p>
            </button>
        </div>-->
        <div class="tab-wrap" id="tab-wrap">
        </div>
        <button class="modal-close"><span class="material-symbols-outlined">
                close
            </span>
        </button>
        <div id="modal-karte-button">
            <button class="modal-copy"><i class="material-symbols-outlined">
                    file_copy
                </i>
                <p>Copy</p>
            </button>
            <div class="phenopackets-wrapper">
                <button class="modal-phenopackets"><img src="/static/images/PhenoPackets_Logo.png">
                    <p>Phenopackets</p>
                    <!-- <i class="material-symbols-outlined">
                        downloading
                    </i> -->
                </button>
                <div class="popup-bg-cover"></div>
                <div class="save-panel phenopacket-save-panel">
                    <div class="save-format">
                        <p>Format :</p>
                        <select name="file" id="dl-select" class="phenopacket-format-select">
                            <option value="json">json</option>
                            <option value="yaml">yaml</option>
                        </select>
                    </div>
                    <button class="phenopacket-save-button" onclick="">Save</button>
                </div>
                <div id="phenotype_search_pcf">
                </div>
            </div>
        </div>
    </div>

    <div id="modal-info" class="modal_box modal-karte">
        <div class="modal-karte-button-sub" id="modal-info-content">
            <ul>
                <li>
                    <i class="material-symbols-outlined">
                        computer
                    </i>
                    <span>
                        <h4>How to use</h4>
                        <p>Here is a brief description of how to use the service. This is a dummy text.This is a dummy
                            text.
                        </p>
                    </span>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        subscriptions
                    </i>
                    <span>
                        <h4>How to use</h4>
                        <p>Here is a brief description of how to use the service. This is a dummy text.This is a dummy
                            text.
                        </p>
                    </span>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        format_list_numbered
                    </i>
                    <span>
                        <h4>How to use</h4>
                        <p>Here is a brief description of how to use the service. This is a dummy text.This is a dummy
                            text.
                        </p>
                    </span>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        sign_language
                    </i>
                    <span>
                        <h4>How to use</h4>
                        <p>Here is a brief description of how to use the service. This is a dummy text.This is a dummy
                            text.
                        </p>
                    </span>
                </li>
            </ul>
        </div>
        <div id="modal-info-button">
            <button class="info-modal-close"><span>Let's start!</span></button>
        </div>
    </div>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
    </script>
</body>

<!-- start bits-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/static/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script type="text/javascript" src="/static/record/js/phenotype/tippyjs/tippy-bundle.umd.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/jquery.magnific_popup.min.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/magnific-popup-options.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/jquery.stellar.min.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/rater.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/popup-hierarchy-hpo.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/button-ripple-effect.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/jaconv/jaconv.min.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/jquery.multitextinput_hpo.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/jquery.search-box_form.js"></script>
<script type="text/javascript" src="/static/record/js/phenotype/modal_phenotype.js"></script>
<!-- end bits-->
<script type="text/javascript"
    src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
    style="display: block" id="common-header-and-footer__script" data-width="976" data-color="mono"></script>

<script type="module" src="static/record/js/smart_text_box.js"></script>
<script src="/static/record/js/renderer.js"></script>
<script src="/static/record/variables/columnKeys.js"></script>
<script src="/static/record/variables/translation.js"></script>
<script src="/static/record/variables/sample_test_category.js"></script>
<script src="/static/record/variables/registration_category.js"></script>
<script src="/static/record/variables/medical_info.js"></script>
<script src="/static/record/variables/genotype_info.js"></script>
<script src="/static/record/variables/family_info.js"></script>
<script src="/static/record/variables/columns.js"></script>
<script src="/static/record/js/family.js"></script>
<script src="/static/js/common-header.js"></script>
<script src="/static/js/common-header-auth-casesharing.js"></script>
<script src="/static/record/variables/emptyData.js"></script>
<script src="/static/record/js/modal.js" async defer></script>
<script src="/static/record/js/modal_group_input.js" defer></script>
<script src="/static/record/js/phenopackets.js" async defer></script>
<script src="/static/record/js/chart.js" defer></script>
<script src="/static/record/js/record.js" defer></script>
<script>window.pcfIsLoggedIn = {{ 'true' if r_mail else 'false' }};</script>
<script>window.pcfLoginUserInfo = {{ r_user_info | tojson if r_user_info else 'null' }};</script>
<script type="module" src="/static/record/js/match_making.js"></script>
<!--追加-->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<!-- for pedigreejs -->
<script src="https://cdn.jsdelivr.net/npm/d3@7.8.2/dist/d3.min.js"
    integrity="sha256-yUdn/lyl/rHBn4bD4HkKmnR7S6Fj+tXIO0ozSay1Bik=" crossorigin="anonymous"></script>
<script src="/static/js/pedigreejs/pedigreejs.v3.0.0-rc1.min.js"></script>

</html>
