{% extends "base.html" %}
{% block content %}
<!-- START: Term page -->


{% if get_locale() == "ja" or get_locale() == "ja_JP" %}


<!-- START: __redesign20260310__日本語バージョン -->
<div class="utility_wrapper">
	<section class="content">
		<h1>Terms of Service for PubCaseFinder</h1>
		
		<div class="utility_notice">
			<p><a href="/termsofservice?lang=en">English version</a> of this document is also available.
			</p>
		</div>
		

		<div class="rules_wrap">
			<h2>「PubCaseFinder サービス」ご利用規約について</h2>
			<div class="rules_content">
				<p>「PubCaseFinder
				サービス」（以下、本サービス）はライフサイエンス統合データベースセンター（以下、DBCLS）が国立研究開発法人科学技術振興機構バイオサイエンスデータベースセンターとの共同研究開発の一環として提供するデータベースホスティングサービスです。本サービスをご利用頂くためには、本サービスご利用規約（以下、本規約）に同意いただき、本規約を遵守していただく必要があります。本規約の適用範囲は本サービスを利用する一切の場合とします。
				</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>規約の変更</h2>
			<div class="rules_content">
				<p>DBCLSは本サービスのユーザの了解を必要とすることなく、本規約を変更できるものとします。 本規約の変更は本サービス提供サイト内において表示された時点から有効となり、
				ユーザは本サービスの利用を継続する限り、変更後の規約に同意したものとします。</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>著作権について</h2>
			<div class="rules_content">
				<p>「ライフサイエンス統合データベースセンター」のサイト（以下、DBCLSサイト）の<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「著作権について」に準ずるものとします。
				</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>免責事項</h2>
			<div class="rules_content">
				<p>本サービスは医学的判断に使用しない情報提供を目的とした、医学教科書その他参考資料を参照するための検索を行うプログラムです。薬機法に基づく承認を受けた医療機器ではないため、検索の結果についてはそのことを考慮に入れて使用してください。本サービスが提供する疾患リストまたそれに付随する情報は、全希少・遺伝性疾患の一部の情報であることに注意してください。本サービスを用いて医師の助言なしに医学的判断を下すべきではありません。本サービスは検索システムとして誠実にデータを提供しますが、データの正確性、臨床的妥当性または有用性を検証することはありません。DBCLSは、明示的にも黙示的にも、データの使用に関して、法的責任を含む一切の責任を負うものではありません。データを商用利用する場合は、<a href="/sources">ソース</a>のライセンスを参照し、商用利用の範囲を確認してください。DBCLSは、本サービスの変更、中断、または終了により被った損害に関しても、一切の責任を負うものではありません。また、DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「免責事項」にも準ずるものとします。
				</p>
			</div> 
		</div>

		<div class="rules_wrap">
			<h2>プライバシー・ポリシー</h2>
			<div class="rules_content">
				<p>DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「個人情報」に準ずるものとします。</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>禁止事項</h2>
			<div class="rules_content">
				<p>DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「禁止事項」に準ずるものとします。</p>
			</div>
		</div>

	</section>
</div><!-- /utility_wrapper -->
<!-- END: __redesign20260310__日本語バージョン -->


{% elif get_locale() == "ko" or get_locale() == "ko_KR" %}


<!-- START: __redesign20260310__韓国語（英語と共通）バージョン -->
<div class="utility_wrapper">
	<section class="content">
		<h1>Terms of Service for PubCaseFinder</h1>
		
		<div class="utility_notice">
			<p><a href="/termsofservice?lang=ja">Japanese version</a> of this document is also available.
			</p>
		</div>
		

		<div class="rules_wrap">
			<h2>ACCEPTANCE OF TERMS OF SERVICE</h2>
			<div class="rules_content">
				<p>PubCaseFinder service (referred to below as the "Service") is a database hosting service, offered by the Database Center for Life Science (referred to below as "DBCLS") and supported by the Life Science Database Integration Project funded by the Japan Science and Technology Agency. In order to use the Service, you must agree and acknowledge to be bound by the Terms of Service for PubCaseFinder (referred to below as the "Terms"). Any use of the Service shall be subject to the Terms.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>MODIFICATIONS TO TERMS OF SERVICE</h2>
			<div class="rules_content">
				<p>DBCLS shall be able to change the Terms without any consent of the user of the Service. Changes become effective when they are displayed in the website of the Service and the user is considered to have agreed to the Terms after the change as far as he/she continues to use the Service.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>COPYRIGHT</h2>
			<div class="rules_content">
				<p>For information about Copyright, please read the term "Copyright" in <a href="https://dbcls.rois.ac.jp/policy.html">the Site Policies</a> of the DBCLS website.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>DISCLAIMER</h2>
			<div class="rules_content">
				<p>The PubCaseFinder is intended to be used by qualified and licensed physicians to assist in the research about rare and genetic diseases and for use as a teaching aid. The PubCaseFinder should not be used to make medical decisions without the advice of a physician. PubCaseFinder provides data in good faith as a investigative tool, but without verifying the accuracy, clinical validity or utility of the data. In case of commercial use of data, you must refer to the license of the <a href="/sources">source</a> and confirm the scope of commercial use. PubCaseFinder makes no warranty, express or implied, nor assumes any legal liability or responsibility for any purpose for which the data are used. DBCLS shall bear no liability with respect to damages incurred by the change, discontinuation or termination of the Service.
				</p>
			</div> 
		</div>

		<div class="rules_wrap">
			<h2>PRIVACY POLICY</h2>
			<div class="rules_content">
				<p>For information about Privacy Policy, please read the term "Personal Information" in <a href="https://dbcls.rois.ac.jp/policy.html">the Site Policies</a> of the DBCLS website.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>PROHIBITED USES</h2>
			<div class="rules_content">
				<p>For information about Prohibited Uses, please read the term "Prohibited Uses" in <a href="https://dbcls.rois.ac.jp/policy.html">the Site Policies</a> of the DBCLS website.</p>
			</div>
		</div>

	</section>
</div><!-- /utility_wrapper -->
<!-- END: __redesign20260310__韓国語（英語と共通）バージョン -->


{% else %}


<!-- START: __redesign20260310__英語バージョン -->
<div class="utility_wrapper">
	<section class="content">
		<h1>Terms of Service for PubCaseFinder</h1>
		
		<div class="utility_notice">
			<p><a href="/termsofservice?lang=ja">Japanese version</a> of this document is also available.
			</p>
		</div>
		

		<div class="rules_wrap">
			<h2>ACCEPTANCE OF TERMS OF SERVICE</h2>
			<div class="rules_content">
				<p>PubCaseFinder service (referred to below as the "Service") is a database hosting service, offered by the Database Center for Life Science (referred to below as "DBCLS") and supported by the Life Science Database Integration Project funded by the Japan Science and Technology Agency. In order to use the Service, you must agree and acknowledge to be bound by the Terms of Service for PubCaseFinder (referred to below as the "Terms"). Any use of the Service shall be subject to the Terms.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>MODIFICATIONS TO TERMS OF SERVICE</h2>
			<div class="rules_content">
				<p>DBCLS shall be able to change the Terms without any consent of the user of the Service. Changes become effective when they are displayed in the website of the Service and the user is considered to have agreed to the Terms after the change as far as he/she continues to use the Service.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>COPYRIGHT</h2>
			<div class="rules_content">
				<p>For information about Copyright, please read the term "Copyright" in <a href="https://dbcls.rois.ac.jp/policy.html">the Site Policies</a> of the DBCLS website.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>DISCLAIMER</h2>
			<div class="rules_content">
				<p>The PubCaseFinder is intended to be used by qualified and licensed physicians to assist in the research about rare and genetic diseases and for use as a teaching aid. The PubCaseFinder should not be used to make medical decisions without the advice of a physician. PubCaseFinder provides data in good faith as a investigative tool, but without verifying the accuracy, clinical validity or utility of the data. In case of commercial use of data, you must refer to the license of the <a href="/sources">source</a> and confirm the scope of commercial use. PubCaseFinder makes no warranty, express or implied, nor assumes any legal liability or responsibility for any purpose for which the data are used. DBCLS shall bear no liability with respect to damages incurred by the change, discontinuation or termination of the Service.
				</p>
			</div> 
		</div>

		<div class="rules_wrap">
			<h2>PRIVACY POLICY</h2>
			<div class="rules_content">
				<p>For information about Privacy Policy, please read the term "Personal Information" in <a href="https://dbcls.rois.ac.jp/policy.html">the Site Policies</a> of the DBCLS website.</p>
			</div>
		</div>

		<div class="rules_wrap">
			<h2>PROHIBITED USES</h2>
			<div class="rules_content">
				<p>For information about Prohibited Uses, please read the term "Prohibited Uses" in <a href="https://dbcls.rois.ac.jp/policy.html">the Site Policies</a> of the DBCLS website.</p>
			</div>
		</div>

	</section>
</div><!-- /utility_wrapper -->
<!-- END: __redesign20260310__英語バージョン -->


{% endif %}

<!-- END: Term page -->
{% endblock %}
