/* footer */
footer {
    margin-top: 100px;
}

footer .footer__wrapper {
    padding-top: 40px;
    padding-bottom: 18px;
    width: 1024px;
    margin: 0 auto;
}

footer .footer__wrapper .footer__wrapper__contents h2.footer-title {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 10px;
    list-style: none;
}


footer .footer__wrapper .footer__wrapper__contents .footer__sitenav {
    display: flex;
    flex-wrap: wrap;
}

footer .footer__wrapper .footer__wrapper__contents .footer__sitenav ul.nav__wrapper {
    width: 890px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

footer .footer__wrapper .footer__wrapper__contents .footer__sitenav ul.nav__wrapper li {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    list-style: none;
}

footer .footer__wrapper .footer__wrapper__contents .footer__sitenav ul.nav__wrapper li ul {
    padding-top: 3px;
}

footer .footer__wrapper .footer__wrapper__contents .footer__sitenav ul.nav__wrapper li ul li {
    font-weight: normal;
    padding: 2px 0 2px 0;
}

footer .footer__wrapper .footer__wrapper__contents .footer__sitenav ul.nav__wrapper li.line-series {
    margin-top: -5px;
}

footer .footer__wrapper .footer__wrapper__contents .footer__sitenav ul.nav__wrapper li.line-series ul li {
    font-weight: bold;
    padding-bottom: 8px;
}

footer a {
    text-decoration: none;
    color: #444;
}

footer a:hover {
    color: #004098;
    border-bottom: solid 1px #004098;
}

.footer__sitemap {
    background-color: #fff;
    border-top: solid 0.5px #9E9E9E;
    color: #444;
    width: 100%;
}

.footer__common {
    background-color: #f9f8f5;
    width: 100%;
    color: #444;
}

.footer__common .footer__info {
    padding-right: 65px;
    display: -wekit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__common .footer__info .footer__organism {
    padding-top: 9px;
}

.footer__common .footer__info .footer__organism .footer__logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.footer__common .footer__info .footer__organism .footer__organism-text {
    text-align: center;
    margin-top: 11px;
    margin-bottom: 20px;
}

.footer__common .footer__info .footer__organism .footer__organism-text .footer__organism-sub {
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
}

.footer__common p {
    margin-bottom: 0;
}

.footer__links {
    line-height: 1em;
}

.footer__common .footer__info .footer__organism .footer__organism-text .footer__organism-main {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
}

.footer__common .footer__info .footer__address {
    width: 357px;
    margin-top: 15px;
}

.footer__common .footer__info .footer__address .address__list {
    display: -wekit-box;
    display: flex;
    justify-content: space-between;
}

.footer__common .footer__info .footer__address .address__list li {
    font-size: 12px;
    line-height: 1.5em;
    list-style: none;
}

.footer__common .footer__info .footer__address .address__list li p {
    line-height: 1.5em;
}

.footer__common .footer__info .footer__links {
    padding-top: 15px;
}

.footer__common .footer__info .footer__links.en {
    width: 192px;
}

.footer__common ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.footer__common .footer__info .footer__links ul.links__wrapper li.individual_link {
    list-style: none;
}


.footer__common .footer__info .footer__links ul.links__wrapper li.individual_link a {
    font-size: 12px;
    padding: 2px 0 2px 0;
    font-weight: normal;
    color: #444;
}

.footer__common .footer__info .footer__links ul.links__wrapper li.individual_link a:hover {
    color: #004098;
    border-bottom: solid 1px #004098;
}

.footer__bottom {
    background-color: #f9f8f5;
    width: 100%;
    color: #444;
    padding-bottom: 20px;
    list-style: none;
}

.footer__bottom .footer__partners .footer__logo-wrapper {
    width: 550px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.footer__bottom .footer__partners .footer__logo-wrapper li {
    padding-bottom: 10px;
}

.footer__bottom .footer__partners .footer__logo-wrapper li img.logo__jbi {
    width: 115px;
    height: auto;
}

.footer__bottom .footer__partners .footer__logo-wrapper li img.logo__ddbj {
    width: 115px;
    height: auto;
    margin-left: 0;
}

.footer__bottom .footer__partners .footer__logo-wrapper li img.logo__nbdc {
    width: 115px;
    height: auto;
    margin-top: 0;
}

.footer__bottom .footer__partners .footer__logo-wrapper li img.logo__pdbj {
    width: 115px;
    height: auto;
    margin: 0;
}

.footer__lisence p {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.footer__lisence p:before {
    content: "";
    width: 81px;
    height: 16px;
    display: block;
    background: url(/static/images/by.svg) no-repeat;
}